<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fdd2a7ca-af13-495d-b033-a18748b5a58d/resourceGroups/default/providers/Microsoft.Web/sites/talhayaseen</ResourceId>
    <ResourceGroup>default</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://talhayaseen.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://talhayaseen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$talhayaseen</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>